body {
  background: url(../img/DESCUENTOS.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.fa-arrow-up {
  float: right;
  color: #fff;
  font-size: 16px;
  margin-top: 60px;
  margin-right: 120px;
}

.p-inicio {
  float: right;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 58px;
  margin-right: -72px;
}

.imagen-uno {
  width: 100px;
  margin-top: 20px;
  margin-left: 20px;
}

.h1-titulo-descuentos {
  margin-top: 58px;
}

.imagen-dos {
  width: 200px;
  height: 100px;
  margin: 20px;
}

.h3-titulo-uno {
  margin-top: -128px;
  margin-left: 240px;
}

.p-descuentos-uno {
  margin-top: 5px;
  margin-left: 240px;
  font-weight: 300;
}

.a-descuentos-uno {
  float: right;
  margin-right: 25px;
}

.imagen-tres {
  width: 200px;
  height: 100px;
  margin: 20px;
}

.h3-titulo-dos {
  margin-top: -128px;
  margin-left: 240px;
}

.p-descuentos-dos {
  margin-top: 5px;
  margin-left: 240px;
  font-weight: 300;
}

.a-descuentos-dos {
  float: right;
  margin-right: 25px;
}

.imagen-cuatro {
  width: 200px;
  height: 100px;
  margin: 20px;
}

.h3-titulo-tres {
  margin-top: -128px;
  margin-left: 240px;
}

.p-descuentos-tres {
  margin-top: 5px;
  margin-left: 240px;
  font-weight: 300;
}

.a-descuentos-tres {
  float: right;
  margin-right: 25px;
}

@media (max-width: 768px) {
  .titulo-beneficios-uno {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }
  .fila-uno {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  .fila-dos {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  .imagen-dos {
    width: 200px;
    height: 100px;
    margin: 0 auto;
  }
  .h3-titulo-uno {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .p-descuentos-uno {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .a-descuentos-uno {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .imagen-tres {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .h3-titulo-dos {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .p-descuentos-dos {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .a-descuentos-dos {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .imagen-cuatro {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .h3-titulo-tres {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .p-descuentos-tres {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .a-descuentos-tres {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
