.fondo {
  background: url(../img/ayudaSoc-background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* Preservar aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.fa-arrow-up {
  float: right;
  color: #fff;
  font-size: 16px;
  margin-top: 60px;
  margin-right: 120px;
}

.p-inicio {
  float: right;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 58px;
  margin-right: -72px;
}

.imagen-cuatro {
  width: 100px;
  margin-top: 20px;
  margin-left: 20px;
}

.h1-titulo-ayudaSocial {
  margin-top: 58px;
}

.imagen-shangai {
  width: 200px;
  height: 100px;
  margin: 20px;
}

.h3-titulo-uno {
  margin-top: -128px;
  margin-left: 240px;
}

.p-ayuda-social-uno {
  margin-top: 5px;
  margin-left: 240px;
  font-weight: 300;
}

.imagen-transplante {
  width: 200px;
  height: 100px;
  margin: 20px;
}

.h3-titulo-dos {
  margin-top: -128px;
  margin-left: 240px;
}

.p-ayuda-social-dos {
  margin-top: 5px;
  margin-left: 240px;
  font-weight: 300;
}

.imagen-cuatro {
  width: 200px;
  height: 100px;
  margin: 20px;
}

.h2-dolares {
  margin-left: 240px;
}

.h2-pesos {
  margin-left: 240px;
}

@media (max-width: 768px) {
  .titulo-beneficios-cuatro {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }
  .fila-uno {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .fila-dos {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .imagen-dos {
    width: 200px;
    height: 100px;
    margin: 0 auto;
  }

  .h3-titulo-uno {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .p-ayuda-social-uno {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .a-descuentos-uno {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .imagen-tres {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .h3-titulo-dos {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .p-ayuda-social-dos {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .h2-dolares {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .h2-pesos {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .a-descuentos-dos {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .imagen-cuatro {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .h3-titulo-tres {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .p-descuentos-tres {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .a-descuentos-tres {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
