body {
  background: url(../img/background-prestamos.png) no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.fa-arrow-up {
  float: right;
  color: #fff;
  font-size: 16px;
  margin-top: 60px;
  margin-right: 120px;
}

.p-inicio {
  float: right;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 58px;
  margin-right: -72px;
}

.imagen-uno {
  width: 100px;
  margin-top: 20px;
  margin-left: 20px;
}

.h1-uno {
  margin-top: 50px;
}

.imagen-dos {
  width: 650px;
  margin-top: 20px;
  margin-left: -50px;
}

.h3-uno {
  float: right;
  margin-top: -382px;
  margin-right: 240px;
  font-size: 2.5rem;
  font-weight: 400;
}

.p-uno {
  float: right;
  margin-top: -300px;
  margin-right: 220px;
}

.img-uno {
  width: 210px;
  height: 82px;
}

.img-dos {
  width: 210px;
  height: 82px;
}

.img-tres {
  width: 210px;
  height: 82px;
}

.img-cuatro {
  width: 210px;
  height: 82px;
}

.img-cinco {
  width: 210px;
  height: 82px;
}

@media (max-width: 768px) {
  .mediaq-columna {
    display: flex;
    flex-direction: column;
  }
  .titulo-beneficios-uno {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  .imagen-uno {
    margin-top: 0;
  }
  .h1-uno {
    margin-top: 0;
  }
  .imagen-dos {
    width: 200px;
    margin-top: 0;
    position: relative;
  }
  .h3-uno {
    float: none;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .p-uno {
    float: none;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
