.backgroundRed {
  background: url(../img/MiRed.png) no-repeat center center fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: fixed;
  top: 0;
  left: 0;

  /* Preservar aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.fa-arrow-up {
  float: right;
  color: #fff;
  font-size: 16px;
  margin-top: 60px;
  margin-right: 120px;
}

.p-inicio {
  float: right;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 58px;
  margin-right: -72px;
}
