.background-proyectos {
  background-image: url(../img/proyectos-background.png);
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.foto-proyectos-uno {
  width: 275px;
  height: 180px;
  margin-top: 20px;
  margin-left: 150px;
}

.foto-proyectos-dos {
  width: 275px;
  height: 180px;
  margin-top: 20px;
  margin-left: 110px;
}

.foto-proyectos-tres {
    width: 275px;
    height: 180px;
    float: right;
    margin-top: 20px;
    margin-right: 120px;
}

.h3-proyectos-uno {
    margin-top: 25px;
    margin-left: 140px;
}
