@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap");

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html::-webkit-scrollbar {
  display: none;
}

html::-moz-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Open Sans", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

:root {
  /* BACKGROUNDS */
  --backgroundHome: url("../img/back-home.png");
  --backgroundBeneficios: url("../img/back-testimonios-dos.png");
  --backgroundBeneficiosUno: url(../img/beneficios-uno.png);
  --backgroundBeneficiosDos: url(../img/beneficios-dos.png);
  --backgroundBeneficiosTres: url(../img/beneficios-tres.png);
  --backgroundBeneficiosCuatro: url(../img/beneficios-cuatro.png);
  --backgroundBeneficiosCinco: url(../img/beneficios-cinco.png);
  --backgroundVision: url(../img/vision.png);
  --backgroundMision: url(../img/mision.png);
  --backgroundComision: url(../img/back-comision.png);
  /* /BACKGROUNDS */
}

/* ESTILOS */

.logo {
  position: absolute;
  width: 230px;
  height: 140px;
}

.nav {
  margin-top: 20px;
}

.ul-menu {
  margin-left: 300px;
}

.background-home {
  width: 100%;
  background: var(--backgroundHome);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.back-beneficios {
  background-image: var(--backgroundBeneficios);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: -50px;
}

.back-beneficios-uno {
  width: 100%;
  background-image: var(--backgroundBeneficiosUno);
  background-repeat: no-repeat;
  background-size: cover;
}

.back-beneficios-dos {
  width: 100%;
  background-image: var(--backgroundBeneficiosDos);
  background-repeat: no-repeat;
  background-size: cover;
}

.back-beneficios-tres {
  width: 100%;
  background-image: var(--backgroundBeneficiosTres);
  background-repeat: no-repeat;
  background-size: cover;
}

.back-beneficios-cuatro {
  width: 100%;
  background-image: var(--backgroundBeneficiosCuatro);
  background-repeat: no-repeat;
  background-size: cover;
}

.back-beneficios-cinco {
  width: 100%;
  background-image: var(--backgroundBeneficiosCinco);
  background-repeat: no-repeat;
  background-size: cover;
}

.background-vision {
  background: var(--backgroundVision) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.background-mision {
  background: var(--backgroundMision) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.p-vision {
  margin-left: 32px;
}

.p-mision {
  margin-left: 60px;
}

.h2-vision {
  margin-top: -20px;
  margin-left: 80px;
  margin-bottom: 20px;
}

.h2-mision {
  margin-left: 80px;
  margin-bottom: 20px;
}

.background-comision {
  background: var(--backgroundComision) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container-club-sueños {
  margin-left: 30px;
}

.h1-club-sueños {
  margin-top: 50px;
  margin-left: 50px;
  color: #fff;
}

.p-club-sueños {
  margin: 20px;
  text-justify: inter-word;
  color: #fff;
}

video {
  width: 565px;
  height: 350px;
}

.nav-link-registerphp {
  font-size: 23px;
  margin-right: 50px;
  color: #fff;
}

.nav-link-registerphp:hover {
  color: #fff;
  text-decoration: none;
}

.img-benef-uno {
  max-height: 180px;
  margin-left: 20px;
}

.img-benef-dos {
  max-height: 180px;
  margin-left: 20px;
}

.img-benef-tres {
  max-height: 180px;
  margin-left: 20px;
}

.img-benef-cuatro {
  max-height: 180px;
  margin-left: 20px;
}

.img-benef-cinco {
  max-height: 180px;
  margin-left: 20px;
}

.reproductor-texto {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.img-testimonios-uno {
  width: 70px;
}

.img-testimonios-dos {
  width: 70px;
}

.img-testimonios-tres {
  width: 70px;
}

.flecha-arriba {
  float: right;
  color: #fff;
  font-size: 16px;
  margin-top: 25px;
}

.flecha-arriba-inicio {
  float: right;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 23px;
  margin-right: -62px;
}

.titulo-comision {
  font-weight: 400;
  font-size: 2rem;
}

.img-thumbnail {
  max-width: 180px;
}

/* /ESTILOS */

/* MEDIA QUERIES */

@media (max-width: 767.98px) {
  .menu-navegacion {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .logo {
    position: relative;
  }

  .navbar-toggle {
    width: 90px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    border: none;
  }

  .nav-link-registerphp {
    margin-left: 90px;
  }

  .background-home {
    min-width: 300px;
    max-width: 767.98px;
    width: fit-content;

    background-repeat: no-repeat;

    background-attachment: fixed;

    background-size: 100% 100%;
  }

  .back-beneficios {
    display: none;
  }

  .h1-club-sueños {
    margin-left: auto;
    margin-right: auto;
  }

  .p-club-sueños {
    text-justify: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .bi,
  .bi-chevron-bar-down {
    color: #fff;
    width: 90px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
  }
  .modal-body {
    display: flex;
    flex-direction: column;
  }

  .background-comision,
  .comision {
    display: flex;
    flex-direction: column;
  }

  .columna-comision {
    display: flex;
    flex-direction: column;
  }

  video {
    max-width: 300px;
    width: auto;
    height: auto;
  }

  .reproductor-texto {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
  }

  .container-club-sueños {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .beneficios-columna {
    display: flex;
    flex-direction: column;
  }
  .background-vision {
    background: var(--backgroundVision) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .background-mision {
    background: var(--backgroundMision) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .flecha-arriba {
    margin-right: 20px;
  }
  .flecha-arriba-inicio {
    margin-right: 20px;
  }
  .background-comision {
    background: var(--backgroundComision) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

/* /MEDIA QUERIES */
