body {
  overflow: scroll;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
  width: 0px;
}

body::-webkit-scrollbar-thumb {
  background: #ff0000;
}

.background-register {
  width: 100%;
  height: 100%;
  background: url("../img/back-registro.png");
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
}

form {
  display: flex;
  flex-direction: column;
  margin-left: 450px;
}

.campos-registro {
  max-height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.campos-registro::-webkit-scrollbar {
  display: none;
  width: 0px;
}

.campos-registro::-webkit-scrollbar-thumb {
  background: #ff0000;
}

.titulo-registro {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.inicio-anchor {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  margin-right: 15px;
  transform: translate(0px, 8px);
}

.flecha-izquierda {
  float: left;
  margin-top: 25px;
  margin-left: 50px;
}

.flecha-derecha {
  float: right;
  margin-top: 25px;
  margin-right: 50px;
}

.cuenta-anchor {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  margin-left: 15px;
  transform: translate(5px, 8px);
}
